{% extends 'base.html.twig' %}

{% block body %}

<div class="row">

    <div class="col-lg-12">
        <h1 class="page-header">Users</h1>
    </div>

    {% for user in users %}

    <div class="col-lg-2 col-md-3 col-xs-4 thumb">
        <div class="media">
            <div class="media-left">       
                <a class="thumbnail" href="{{ path('user_show', { 'id': user.id }) }}">
                    <div class="center-cropped" style="background-image: url('{{ asset("images/users/" ~ user.getImageName()) }}');"></div>
                    <div class="text-center">{{ user.username }}</div>
                </a>
            </div>
        </div>
    </div>

    {% endfor %}

{% endblock %}
