{% extends "base.html.twig" %}

{% block title %}{{ parent()}} - layout section {% endblock %}

{% block header %}
{{ parent()}}
<h1>Layout</h1>
{% endblock %}

{% block menu %}
{{ parent()}}

{% endblock %}