{% extends "layout.html.twig" %}

{% block body %}

{% for user in users %}
<li>{{ user.username }}</li>
{% endfor %}

<h1>Series not validated</h1>

{{ include('series/index_content.html.twig', { 'series': series }) }}


<hr/>
<h1>Casts not validated</h1>
	{% if persons %}
		{{ include('person/admin.html.twig', { 'persons': persons }) }}
	{% endif %}
{% endblock %}
