{% extends "layout.html.twig" %}

{% block body %}

{% for user in users %}
<li><span>{{ user.username }}</span>
	<span>
		{% for role in user.roles %}
		<div>{{ role }}</div>
		{% endfor %}
	</span>
	<span><a href="{{ path('superadmin_promote', { 'username': user.username })}}" >Promote to Moderator</a></span>
	<span><a href="{{ path('superadmin_demote', { 'username': user.username })}}" >Demote to user</a></span>
</li>
{% endfor %}

{% endblock %}
