/*.fa-star {
  display: none;
}

.fa-star-o:hover {
  display: none;
}


.fa-star:hover {
  display: inline;
}*/




body {
    /*margin-top: 70px;*/
}
/*image same size for user.messages list*/
.center-cropped-user {
    width: 50px;
    height: 50px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100px;
}
/*image same size for series list*/
.center-cropped {
    width: 100px;
    height: 100px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 250px;
}

  /* Icon when the collapsible content is hidden */
.btn.collapsed:after {
    content: "\e080";
  }

/* Caroussel
-------------------------------------------------- */
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: auto;
    max-height : 400px;
    margin: auto;
​
}
#carousel-SoWath {
    
    margin-bottom: 40px;
}

/* MARKETING CONTENT
-------------------------------------------------- */
​
/* Center align the text within the three columns below the carousel */
.marketing .col-lg-6 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-6 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
​

