/*star ratings */
.rating{
  unicode-bidi:bidi-override;
  direction:rtl;
  font-size:20px;
}
.rating a.star{
  font-family:FontAwesome;
  font-weight:normal;
  font-style:normal;
  display:inline-block;
}
.rating a.star:hover{
  cursor:pointer;
  text-decoration: none;
}
.rating a.star:before{
  content:"\f006";
  color:#777;
}
.rating a.star:hover:before,
.rating a.star:hover~.star:before{
  content:"\f005";
  color:#e3cf7a;
}
.rating a.star:after{
  
  text-decoration: none;
}
/* end - star ratings */




body {
    /*margin-top: 70px;*/
}
/*image same size for user.messages list*/
.center-cropped-user {
    width: 50px;
    height: 50px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100px;
}
/*image same size for series list*/
.center-cropped {
    width: 100px;
    height: 100px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 250px;
}

/* Caroussel
-------------------------------------------------- */
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: auto;
    max-height : 400px;
    margin: auto;
​
}
#carousel-SoWath {
    
    margin-bottom: 40px;
}

/* MARKETING CONTENT
-------------------------------------------------- */
​
/* Center align the text within the three columns below the carousel */
.marketing .col-lg-6 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-6 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
​

