    <h1>Leave A Comment</h1>
    <!-- {{ form_start(form) }} -->
    <div class="well">
    {{ form_start(form, {'action': path('comment_new', { 'id': series.id }), 'method': 'POST'}) }}
        {{ form_widget(form) }}
        <input type="submit" value="leave a comment" />
    {{ form_end(form) }}

	</div>