{% extends 'base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
<h1>{{ 'series.list'|trans }}</h1>
{{ include('series/index_content.html.twig', { 'series': series }) }}

{% endblock %}
